---
layout: default
title: Testing How-To
---

<a href="#links">Jump to Links</a>

<h2>Posts</h2>
<p>Editor-in-chief: GeoCrumb</p>
{% for post in site.posts %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <p>{{ post.description }}<br>
    By: {{ post.author }}</p>
{% endfor %}
<hr>
<h2 id="links">Links</h2>
<ul>
  {% for hyperlink in data.links %}
    <li>
      <h2><a href="#{{ hyperlink.link }}">{{ hyperlink.title }}</a></h2>
      <p>{{ hyperlink.description }}</p>
    </li>
  {% endfor %}
</ul>
