magic-white-font {
    color: $magic-white;
}
magic-gray-font {
    color: $magic-gray;
}
magic-black-font {
    color: $magic-black;
}
magic-red-font {
    color: $magic-red;
}
magic-black-font {
    color: $magic-black;
}
