magic-white-font {
    color: $magic-white;
}
magic-gray-font {
    color: $magic-gray;
}
magic-black-font {
    color: $magic-black;
}
magic-red-font {
    color: $magic-red;
}
magic-black-font {
    color: $magic-black;
}
box0 {
    background-color: $magic-white;
}
box1 {
    background-color: $magic-gray;
}
box2 {
    background-color: $magic-black;
}
box3 {
    background-color: $magic-red;
}
box4 {
    background-color: $magic-gold;
}
