//theme colors from the color swatches.
//OVER BLACK: gray and red strains to read. gold is okay. white is easiest to read.
//OVER GOLD: gray and red are okay. black and white are easiest to read.
//OVER GRAY: red and black strain to read. gold is okay. white is easiest to read.
//OVER WHITE: gold strains to read. gray and red are okay. black is easiest to read.
//OVER RED: gray strains to read. gold and black are okay. white is easiest to read.
$magic-white:   #F5FFFF;
$magic-gray:    #3D4047;
$magic-black:   #151715;
$magic-red:     #6E2E3C;
$magic-gold:    #CCAA4E;

//global font
$magic-fonts: 'Trebuchet MS', 'Arial', 'Sans-Serif';
$font-size: 1.2em;
$font-size-larger: 1.2em;

// html specific specialized section tags, these are the tags build into html that divide the page
body {
    margin: 60px 20% 36em 20%;
    width: 70%;
    font-family: $magic-fonts;
    background-color: $magic-white;
    color: $magic-black;
    font-size: $font-size;
}

footer {
    border-top: 1px solid #d5d5d5;
}

// generic global html elements
a {
    text-decoration: none;
    color: $magic-red;
}
a.white-text {
    color: $magic-white;
}
a:hover {
    text-decoration: underline;
}

strong {
    font-size: $font-size-larger;
    font-weight: bold;
    color: $magic-gold;
    text-shadow: 1px 1px 1px $magic-black;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    line-height: 1.4em;
    color: $magic-black;
}

//unordered list
ul { 
    margin: 20px auto 40px; 
}

//unordered list. list. (this is an element in an unordered list.)
ul li {
    list-style: disc;
}

ul ul li {
    list-style: circle;
}

//ordered list
ol { 
    margin: 20px auto 40px; 
}

//ordered list. list. (this is an element in an ordered list.)
ol li {
    list-style: upper-roman;
}

//horizontal rule (line)
hr {
    border: 1px solid $magic-gold;
}

//for large quotes
blockquote {
    font-style: italic;
    border-left: 2px solid $magic-gold;
    padding-left: 5%;
    margin-left: 0;
}

blockquote p.signature {
    text-align: right;
    padding-right: 15%;
}

//for commands
code {
    font-family: "Courier New";
    color: $magic-white;
    font-weight: normal;
    background-color: $magic-gray;
    padding: 1px;
    border-radius: 4px;
}
//for code blocks
pre {
    font-family: "Courier New";
    color: $magic-white;
    font-weight: normal;
    background-color: $magic-gray;
    padding: 16px;
    border-radius: 4px;
}

.current {
    color: $magic-gray;
  }
