//entire table
table {
  width: 80%;
  margin: 0 10%;
  text-align: left;
}

table.small {
  width: 20%;
  margin: 0;
}
//row in header
thead tr {
}
//cell in header
thead tr th {
}

//body
tbody {
}
//row in body
tbody tr {
}
//cell in body
tbody tr td {
}
