<!-- {{ $reset := resources.Get "css/reset.css" }}
{{ $base := resources.Get "css/base.css" }}
{{ $common := resources.Get "css/common.css" }}
{{ $style := resources.Get "css/style.css" }}
{{ $single := resources.Get "css/single.css" }}
{{ $list := resources.Get "css/list.css" }}
{{ $medias := resources.Get "css/media-queries.css" }}
{{ $custom := resources.Get "css/custom.css" }}

{{ $bundle := slice $reset $base $common $style $single $list $medias $custom | resources.Concat "css/bundle.css" }}

{{ $css := $bundle | resources.PostCSS }} -->

<!--- https://youtu.be/YkY2jQJu9Yo -->
<!-- {{ $style := resources.Get "css/base.css" }}
{{ $components := resources.Match "css/" }}

{{ range $components }}
    {{ $style = slice $style . | resources.Concat .Name }}
{{ end }}

{{ $css := slice $style | resources.Concat "css/bundle.css" | resources.ToCSS | minify | fingerprint }}

<link rel="stylesheet" href="{{ $css.Permalink }}"> -->
